<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ipay.client" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="4" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@android:style/Theme.NoTitleBar">

		<uses-library android:name="android.test.runner" />

		<activity android:name=".MainTabsActivity" android:label="@string/app_name"
			android:windowSoftInputMode="adjustPan"
		>
			<!-- android:windowSoftInputMode="adjustResize|stateHidden"> -->
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".barcode.CaptureActivity">
		</activity>

		<activity android:name=".MarketInfoActivity">
		</activity>
		<activity android:name=".TestActivity2">
		</activity>
		<activity android:name=".TestActivity3">
		</activity>
		<activity android:name=".HomeActivity">
		</activity>
		<activity android:name=".ShoppingCartActivity">
		</activity>
	</application>

	<instrumentation android:name="android.test.InstrumentationTestRunner"

		android:targetPackage="com.ipay.client" android:label="Tests for My App" />

</manifest>